---
import { getHadith } from "../lib/utils";
import Card from "./Card/index.astro";
const hadithData = await getHadith(); // Получаем данные о хадисе

---


<Card colSpan="md:col-span-3" rowSpan="md:row-span-2">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-xl m-0 text-gray-500">As-Salāmu `Alaykum <b>|</b> السلام عليكم !</h6>
          <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col">
              <p class="m-0 font-light text-xl">
                {hadithData?.header} | {hadithData?.chapterName}
              </p>
              <p class="m-0 font-light text-sm ">
                Hadith: {hadithData?.hadithEnglish}<br>
              </p>
            </div>
            <p class="m-0 font-light text-[12px]">
              {hadithData?.book} <br>
              Book name: {hadithData?.bookName} <br>
              ID: {hadithData?.id}<br>
              Reference No: {hadithData?.refNo}
            </p>
          </div>
      </div>
    </div>
  </div>
</Card>
